* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: grid;
}
header {
    background-color: gold;
    padding: 10px;
}
main {
    background-color: palegoldenrod;
    padding: 10px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    /* flex: 1 0 auto; */ /* shorthand */
}
p {
    padding: 10px;
}
footer {
    background-color: lemonchiffon;
    padding: 10px;
}